@use "./base.scss";

// put your custom CSS here!

.references.csl-bib-body {
    list-style-type: none; /* Remove default list style */
    // padding-left: 20px; /* Adjust the padding as needed */
}

// Add title to list of references
.references.csl-bib-body::before {
    content: "References"; 
    display: block;
    font-size: 1.12rem;
    margin-top: 1.62rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 1em; /* Space between title and list */
    box-sizing: border-box;
}

.references.csl-bib-body > div {
    position: relative;
    margin-left: 20px; /* Indent the divs to account for the bullet */
    margin-bottom: 0.5em; /* Add space between divs, half a line */
}

.references.csl-bib-body > div::before {
    content: "•"; /* Use a bullet character */
    position: absolute;
    left: -20px; /* Adjust the position of the bullet */
    font-size: 1.2em; /* Adjust the size of the bullet if necessary */
}

img + em {     
    display: block; text-align: center; 
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}